/* colours: 
#2B2B2B - Black
#2980b9 - Blue
#F6F6F6 - White
#E9E581 - Yellow */

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color: #2B2B2B;
	color: #F6F6F6;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.jumbotron {
	padding-top: 30px;
	padding-bottom: 10px;
	margin-bottom: 0px;
}

.btn-group {
	padding-bottom: 0.75em;
}

.btn-primary {
	background-color: #2980b9;
	border-color: #1c5982;
}

#links {
	background-color: #2980b9;
}

#home, .modal-header{
	background-color: #2980b9;
	color: #F6F6F6;
}

#intro, #projects, #footer, .modal-body {
	background-color: #F6F6F6;
	color: #2B2B2B;
}

#skills, #contact, .modal-footer {
	background-color: #2B2B2B;
	color: #F6F6F6;
}

#projects, #skills {
	padding-bottom: 2em;
}

#profile {
	padding-bottom: 1em;
	border-width: 0em;
}

#small {
	line-height: 1em;
	font-size: 1.15em;
}

#modal-button:hover {
	opacity: 0.4;
	filter: alpha(opacity=40); /* For IE8 and earlier */
}

h1, h2, h3 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	padding: 0em;
	font-size: 3em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
}

h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 1.25em;
	line-height: 1.4em;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
}

a {
	color: inherit;
}

a:hover {
	color: #2980b9;
}

img {
	border-style: solid;
	border-width: 0.5em;
	border-color: #2B2B2B;
}

iframe {
	padding-top: 0.3em;
	padding-bottom: 1.5em;
}

footer {
	background-color: #f2f2f2;
	padding: 25px;
}

/* Prevent modal scrolling background */
body.modal-open {
    overflow: hidden;
}

::selection {
	color: #F6F6F6;
	background: #2980b9;
}

::-moz-selection { /* Code for Firefox */
	color: #F6F6F6;
	background: #2980b9;
}

h4::selection, h1::selection {
	color: #2980b9;
	background: #2B2B2B;
}

h4::-moz-selection, h1::-moz-selection{ /* Code for Firefox */
	color: #F6F6F6;
	background: #2980b9;
}